/* You can add global styles to this file, and also import other style files */
@import './app/vars';

body {
    font: 13px Arial, sans-serif;
    background-color: #535353;
}

.main-container {
    height: @container-height;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    .container {
        background-color: white;
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: normal;
        border-right: 1px solid grey;
    }
}

.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
}

.dfo-icon {
    width: @icon-length;
    height: @icon-length;
    background-color: grey;
    background-repeat: no-repeat;
    background-size: 100%;
}

.float-left { float: left; }
.float-right { float: right; }

.align-right { text-align: right; }

.line-break { white-space: pre-line; }

.collapse { display: none; }
.hide { visibility: hidden; }

.shadow-outline {
    text-shadow: 1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}