<div id="equipment-loadout">
    <div class="left-side">
        <div id="equipment-head-shoulders" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.HeadShoulder] ? 'url(' + equipmentLoadout[equipmentSlot.HeadShoulder].icon + ')' : null"></div><!--
        --><div id="equipment-top" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Top] ? 'url(' + equipmentLoadout[equipmentSlot.Top].icon + ')' : null"></div>
        <br />
        <div id="equipment-bottom" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Bottom] ? 'url(' + equipmentLoadout[equipmentSlot.Bottom].icon + ')' : null"></div><!--
        --><div id="equipment-belt" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Belt] ? 'url(' + equipmentLoadout[equipmentSlot.Belt].icon + ')' : null"></div>
        <br />
        <div id="equipment-shoes" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Shoes] ? 'url(' + equipmentLoadout[equipmentSlot.Shoes].icon + ')' : null"></div>
    </div>
    <div class="right-side">
        <div id="equipment-weapon" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Weapon] ? 'url(' + equipmentLoadout[equipmentSlot.Weapon].icon + ')' : null"></div><!--
        --><div id="equipment-title" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Title] ? 'url(' + equipmentLoadout[equipmentSlot.Title].icon + ')' : null"></div>
        <br />
        <div id="equipment-bracelet" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Bracelet] ? 'url(' + equipmentLoadout[equipmentSlot.Bracelet].icon + ')' : null"></div><!--
        --><div id="equipment-necklace" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Necklace] ? 'url(' + equipmentLoadout[equipmentSlot.Necklace].icon + ')' : null"></div>
        <br />
        <div id="equipment-sub-equipment" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.SubEquipment] ? 'url(' + equipmentLoadout[equipmentSlot.SubEquipment].icon + ')' : null"></div><!--
        --><div id="equipment-ring" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Ring] ? 'url(' + equipmentLoadout[equipmentSlot.Ring].icon + ')' : null"></div>
        <br />
        <div id="equipment-earrings" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.Earrings] ? 'url(' + equipmentLoadout[equipmentSlot.Earrings].icon + ')' : null"></div><!--
        --><div id="equipment-magic-stone" class="dfo-icon" [style.background-image]="equipmentLoadout[equipmentSlot.MagicStone] ? 'url(' + equipmentLoadout[equipmentSlot.MagicStone].icon + ')' : null"></div>
    </div>
</div>
<div id="avatar-loadout">
    <div id="avatar-weapon" class="dfo-icon">{{avatarLoadout[avatarSlot.Weapon] ? null : "Weapon"}}</div><!--
    --><div id="avatar-hair" class="dfo-icon">{{avatarLoadout[avatarSlot.Hair] ? null : "Hair"}}</div><!--
    --><div id="avatar-hat" class="dfo-icon">{{avatarLoadout[avatarSlot.Hat] ? null : "Hat"}}</div><!--
    --><div id="avatar-face" class="dfo-icon">{{avatarLoadout[avatarSlot.Face] ? null : "Face"}}</div>
    <br />
    <div id="avatar-aura" class="dfo-icon">{{avatarLoadout[avatarSlot.Aura] ? null : "Aura"}}</div><!--
    --><div id="avatar-torso" class="dfo-icon">{{avatarLoadout[avatarSlot.Torso] ? null : "Torso"}}</div><!--
    --><div id="avatar-top" class="dfo-icon">{{avatarLoadout[avatarSlot.Top] ? null : "Top"}}</div><!--
    --><div id="avatar-skin" class="dfo-icon">{{avatarLoadout[avatarSlot.Skin] ? null : "Skin"}}</div>
    <br />
    <div id="avatar-waist" class="dfo-icon">{{avatarLoadout[avatarSlot.Waist] ? null : "Waist"}}</div><!--
    --><div id="avatar-bottom" class="dfo-icon">{{avatarLoadout[avatarSlot.Bottom] ? null : "Bottom"}}</div><!--
    --><div id="avatar-shoes" class="dfo-icon">{{avatarLoadout[avatarSlot.Shoes] ? null : "Shoes"}}</div>
</div>
<div id="creature-loadout">
    
</div>
<div id="insignia-loadout">
    
</div>