<div id="equipment-library">
    <div id="equipment-library-controls">
        <input type="button" value="New Equipment" (click)="openNewEquipmentForm()">
    </div>
    <hr />
    <div id="new-item-form" [class.collapse]="!showNewEquipmentForm">
        <div class="form-row">
            <div class="form-col-25"><label for="newname">Name:</label></div><!--
            --><div class="form-col-75"><input id="newname" [(ngModel)]="equipmentName" type="text"></div>
        </div>
        <div class="form-row">
            <div class="form-col-40"><label for="newtype">Type:</label></div><!--
            --><div class="form-col-60"><select id="newtype" [(ngModel)]="equipmentType" (change)="onMajorTypeChange()">
                <option *ngFor="let type of itemTypes" [ngValue]="type">{{type.displayName}}</option>
            </select></div>
        </div>
        <div *ngIf="equipmentType && equipmentType.values" class="form-row">
            <div class="form-col-40"><label for="newsubtype1">Subtype 1:</label></div><!--
            --><div class="form-col-60"><select id="newsubtype1" [(ngModel)]="equipmentSubtype1" (change)="onSubtypeOneChange()">
                <option *ngFor="let type of equipmentType.values" [ngValue]="type">{{type.displayName || type}}</option>
            </select></div>
        </div>
        <div *ngIf="equipmentSubtype1 && equipmentSubtype1.values" class="form-row">
            <div class="form-col-40"><label for="newsubtype2">Subtype 2:</label></div><!--
            --><div class="form-col-60"><select id="newsubtype2" [(ngModel)]="equipmentSubtype2">
                <option *ngFor="let type of equipmentSubtype1.values" [value]="type">{{type}}</option>
            </select></div>
        </div>
        <input type="button" value="Create" (click)="createNewEquipment()">
        <input type="button" value="Cancel" (click)="cancelNewEquipmentForm()">
        <hr />
    </div>
    <div id="equipment-catalogue">
        <div *ngIf="equipmentLibrary.length === 0">
            It appears that you don't have anything in your equipment library.  Click on 'new' above to get started.
        </div>
        <div *ngFor="let equip of equipmentLibrary">
            <div class="equipment-card">
                <equipment-details-title [equip]="equip"></equipment-details-title>
                <button type="button" (click)="equipEquipment(equip)">Equip</button>
            </div>
        </div>
    </div>
</div>