<div *ngIf="equip" class="equipment-preview-hover-container">
    <equipment-details-title [equip]="equip"></equipment-details-title>
    <hr />
    <div class="hover-summary-info">
        <equipment-details-summary [equip]="equip"></equipment-details-summary>
    </div>
    <hr />
    <div class="hover-primary-stats">
        <equipment-details-primary [equip]="equip"></equipment-details-primary>
    </div>
    <div class="exorcism-stats">
        <equipment-details-exorcism [equip]="equip"></equipment-details-exorcism>
    </div>
    <br />
    <div class="basic-miscellaneous-info">
        <equipment-details-miscellaneous [equip]="equip"></equipment-details-miscellaneous>
    </div>
    <div *ngIf="equip.enchantment" class="enchantment-text">
        <br />
        Weapon Physical Atk. +10
    </div>
    <equipment-details-description [equip]="equip"></equipment-details-description>
    <hr />
    <div class="morph-info">
        <equipment-details-morph [equip]="equip"></equipment-details-morph>
    </div>
    <hr />
    <div class="arena-info-text info-text">Dungeon Info (Arena Info: A)</div>
    <hr />
    <div class="vendor-info clearfix">
        <equipment-details-vendor [equip]="equip"></equipment-details-vendor>
    </div>
</div>