<div *ngIf="equip" class="equipment-preview-hover-container">
    <equipment-details-title [equip]="equip"></equipment-details-title>
    <hr />
    <div class="hover-summary-info">
        <equipment-details-summary [equip]="equip"></equipment-details-summary>
    </div>
    <hr />
    <div class="hover-primary-stats">
        <div *ngIf="equip.physical_attack" class="physical-text">Weapon Physical Atk. {{equip.physical_attack | signednumber}}</div>
        <div *ngIf="equip.boost_level && equip.bonus_physical_attack" class="boost-text">{{equip.boost_level | signednumber}}: Physical Atk. {{equip.bonus_physical_attack | signednumber}}</div>
        <div *ngIf="equip.magical_attack" class="magical-text">Weapon Magical Atk. {{equip.magical_attack | signednumber}}</div>
        <div *ngIf="equip.boost_level && equip.bonus_magical_attack" class="boost-text">{{equip.boost_level | signednumber}}: Magical Atk. {{equip.bonus_magical_attack | signednumber}}</div>
        <div *ngIf="equip.independent_attack" class="independent-text">Independent Attack {{equip.independent_attack | signednumber}}</div>
        <div *ngIf="equip.refine_level" class="refined-text">
            {{equip.refine_level | signednumber}} Independent Attack: {{equip.bonus_independent_attack | roundnumber | signednumber}}
            <br />Abnormal Status Attack {{equip.bonus_abnormal_status_attack | roundnumber: 1 | signednumber}}%
        </div>
        <div *ngIf="equip.physical_defense">Equipment Physical Def. {{equip.physical_defense | signednumber}}</div>
        <div *ngIf="equip.magical_defense">Equipment Physical Def. {{equip.magical_defense | signednumber}}</div>
        <equipment-details-primary [equip]="equip"></equipment-details-primary>
    </div>
    <hr />
    <div class="weapon-base-effects">
        <div class="highlight-text">Speed: {{weaponSpeeds[equip.speed] || "Average"}}</div>
        <div *ngIf="equip.physical_skill_mp" class="highlight-text">Physical Skill MP {{equip.physical_skill_mp | signednumber}}%</div>
        <div *ngIf="equip.physical_skill_cooldown" class="highlight-text">Cooldown {{equip.physical_skill_cooldown | signednumber}}%</div>
        <div *ngIf="equip.magical_skill_mp" class="highlight-text">Magical Skill MP {{equip.magical_skill_mp | signednumber}}%</div>
        <div *ngIf="equip.magical_skill_cooldown" class="highlight-text">Cooldown {{equip.magical_skill_cooldown | signednumber}}%</div>
    </div>
    <hr />
    <div class="exorcism-stats">
        <div *ngIf="equip.exorcism" class="exorcism-text">Exorcism {{equip.exorcism | number: '1.0-0' | signednumber}}</div>
        <div *ngIf="equip.refine_level && equip.isRefinedMoreThanBoost()" class="refined-text">{{equip.refine_level | signednumber}} Refining: Exorcism {{equip.bonusExorcism() | roundnumber | signednumber}}</div>
        <div *ngIf="equip.boost_level && !equip.isRefinedMoreThanBoost()" class="boost-text">{{equip.boost_level | signednumber}} Reinforcement: Exorcism {{equip.bonusExorcism() | roundnumber | signednumber}}</div>
    </div>
    <hr />
    <div class="basic-miscellaneous-info">
        <equipment-details-miscellaneous [equip]="equip"></equipment-details-miscellaneous>
    </div>
    <div *ngIf="equip.enchantment" class="enchantment-text">
        <br />
        Weapon Physical Atk. +10
    </div>
        <equipment-details-description [equip]="equip"></equipment-details-description>
    <hr />
    <div class="morph-info">
        <equipment-details-morph [equip]="equip"></equipment-details-morph>
    </div>
    <hr />
    <div class="arena-info-text info-text">Dungeon Info (Arena Info: A)</div>
    <hr />
    <div class="vendor-info clearfix">
        <equipment-details-vendor [equip]="equip"></equipment-details-vendor>
    </div>
</div>